section {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container-create-profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: #525777;
}

.container-nome {
    position: relative;
    width: 250px;
}

.container-nome input {
    width: 100%;
    height: 75%;
    padding: 10px;
    border-radius: 7px;
    outline: none;
    font-size: 1em;
    background: #525777;
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.container-nome span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    text-transform: uppercase;
    font-size: 1em;
    transition: 0.5s;
}

.container-nome input:valid ~ span,
.container-nome input:focus ~ span {
    color: red;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    border-left: 1px solid red;
    border-right: 1px solid red;
    background-color: #525777;;
    letter-spacing: 0.2em;
}

.container-nome input:valid,
.container-nome input:focus {
    border: 1px solid red;
}

.container-insights {
    display: flex;
    flex-direction: column;
    justify-content: center;
}