body {
    font-family: 'Montserrat', sans-serif;
    background: #CCCCCC;
}

.Logo{
    width: 17%;
}
header{
    padding: 20px 0;
    background-color: #4299b3;

}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
    
}

nav{
    position: absolute;
    top: 110px;
    right:0px;
}
nav li {
    display: inline;
    margin: 0 0 0 50px;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    color: #CCCCCC;
    
}

.principal p1 {
    margin-left: 500px;
    font-size: 22px;
    padding: 10px;
    margin-bottom: 15px;
}

.principal h2{
    margin-left: 500px;
    font-size: 30px;
    font-weight: bold;
}

.principal p{
    margin-left: 500px;
    font-size: 22px;
    padding: 10px;
}
.principal li {
    margin-left: 500px;
}

footer {
    background-color: #4299b3;
    text-align: center;
    font-size: 13px;
    padding: 15px 25px;
}

