html {
    font-size: 62.5%;
}

.Logo{
    width: 17%;
}
header{
    padding: 20px 0;
    background-color: #4299b3;
    width: 100%;

}

.caixa{
    position: relative;
    margin: 0 auto;
    
}

nav{
    position: absolute;
    top: 150px;
    right:90px;
}
nav li {
    display: inline;
    margin: 0 0 0 50px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 3rem;
    text-decoration: none;
}
nav a:hover {
    color: #CCCCCC;
    text-decoration: none;
   }

body {
    font-family: 'Montserrat', sans-serif;
    background: #CCCCCC;
    height: 100vh;
}


.principal h1{
    margin-top: 20px;    
    font-size: 3.0rem;
    font-weight: bold;
    margin-top: 125px;
    margin-bottom: 125px;
   }

.principal p {
    
    font-size: 2.2rem;
    margin-bottom: 10px;
    line-height: normal;
}

.principal ul {
    
    padding: 10px;
    margin-bottom: 10px;
    font-size: 2.2rem;
}

footer {
    background-color: #4299b3;
    text-align: center;
    font-size: 13px;
    padding: 15px 25px;
}

@media (max-width: 1222px){
    html{
        font-size: 61%;
    }

    nav {
        top: 80px;
    }
}

@media (max-width: 900px){
    html{
        font-size: 55%;
    }

    nav {
        top: 80px;
    }
}

@media(max-width: 830px){
    html{
        font-size: 50%;
    }

    nav {
       display: none;
    }

    .one,
    .two,
    .three{
        background-color: #fff;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }

    .menu-toggle{
        width: 40px;
        height: 30px;
        margin-right: 20px;
        
    }

    .menu-section.on {
        position: absolute;
        top:0;
        left: 0;
        background-color: #3496b1;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-section.on nav {
        display: block;
        
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 0;
        top: 15px;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }


    .menu-section.on nav ul {
        text-align: center;
        display: block;
    }

    .menu-section.on nav ul a {
        margin-right: 100px;
        padding: 10px;
        transition-duration: 0.5s;
        font-size: 4rem;
        display: block;
    }
}