body {
    font-family: 'Montserrat', sans-serif;
    background: #CCCCCC;
}

.Logo{
    width: 17%;
}
header{
    padding: 20px 0;
    background-color: #0B8FD0;

}

main {
    width: 940px;
    margin: 0 auto;
}
form {
    margin: 40px 0;
}

form label {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input, form textarea {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 35%;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
    
}

nav{
    position: absolute;
    top: 110px;
    right:0px;
}
nav li {
    display: inline;
    margin: 0 0 0 50px;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    color: #CCCCCC;
    
}

footer {
    background-color: #0B8FD0;
    text-align: center;
    font-size: 13px;
    padding: 15px 25px;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}